#heading {
  text-align: center;
  color: dimgray;
}

.img {
  place-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h3 {
  text-align: center;
  font-size: larger;
  text-decoration: double;
  font-size: 30px;
}
p {
  padding: auto;
  font-size: x-large;
}
p:hover {
  color: white;
}
.whatsapp-icon {
  margin-top: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
body {
  background-color: lightskyblue;
}
.img:hover {
  translate: 5px;
}
